* {
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-10 {
  font-size: 10px;
}

.font-20 {
  font-size: 20px;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-700, .btn-popup button {
  font-weight: 700;
}

.font-w-900 {
  font-weight: 900;
}

.font-w-600, ::placeholder {
  font-weight: 600;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-1 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.shadow-6 {
  box-shadow: 0 7px 20px 10px rgba(25, 25, 25, 0.15);
}

/*
*large screens
*/
/*
*pad screen
*/
/*
*Small screens, laptops 
*/
/*
*iPads screens
*/
/*
*Mobile  screens
*/
/*
*more screens
*/
.scrollbar ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scrollbar ::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #D62929;
}

.radius-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.radius-2, input {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.radius-15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.popup {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.popup .box-popup {
  background-color: #fff;
  width: 25%;
  overflow: hidden;
}

.any-img {
  object-fit: cover;
}

.bg-base {
  background-color: #FBE122;
  transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  position: relative;
  left: -50px;
  font-weight: 700;
  padding: 5px 0px 5px 10px;
  font-size: 20px;
}

.bg-base div {
  transform: skew(30deg);
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -o-transform: skew(30deg);
}

.w-55 {
  width: 80%;
}

button {
  border: none;
}

.btn-popup button {
  background-color: #23292E;
  color: #fff;
}

.btn-popup button:hover {
  background-color: #FBE122;
  color: #23292E;
}

input {
  border: 2px solid #23292E !important;
}

::placeholder {
  color: #23292E;
}

#close-popup-commercial {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 16px;
  color: #FBE122;
  border: 2px solid #FBE122;
  padding: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.logo {
  background-color: #FBE122;
  transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  position: relative;
  font-weight: 700;
  margin-left: -20px;
  padding: 5px 0px 5px 10px;
  font-size: 20px;
}

.logo span {
  transform: skew(30deg);
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -o-transform: skew(30deg);
}

.navbar {
  padding: 0rem 1rem 0rem 0rem !important;
}
